.whole-app-header{
 background-color: rgb(13,33,0);

 img{
    max-width: 80%;
 }

 .links{
    a{
        text-decoration: none;
        color: white;
    }

    .custom-button{
        background-color: #42AA00;
        border: #42AA00;
    }
 }

 
}
